
:root {

    --bg-theme:#fff;
    --light-bg:#f7f7f7;
    --sidebar-bg:#060d27;
    --header-bg:#f7f7f7;
    --main-bg:#fff;
    --footer-bg:#f7f7f7;
    --primery-color:#1e293b;
    --border-color:#283845;
    
    --white-color:#fff;
    --black-color:#000;

    --txt-black:#000;
    --txt-white:#fff;

    --txt-success:#0aa699; 
    --txt-danger:#f53610;
    --txt-primary:#1085f5;
    --txt-warning:#e4bb34;
    --txt-purple:#5a66f1;

    --light-gray:#808080;
    --card-color:#283845;
    --input-color:#f7f7f7;
    
   
}

//

